body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(90, 130, 142);
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid whitesmoke;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(to right, #5b6271, #0c7edb);
  color: whitesmoke;
  border-radius: 0;
  border-bottom: 10px solid rgb(90, 130, 142);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(90, 130, 142);
  color: whitesmoke;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d87b7b;
  color: white;
}

.present {
  background-color: #e4985e;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(90, 130, 142);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
